* {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-color: #e1e1e2;
    line-height: 1.8em;
}
.list-inline-item {
    font-size: 30px;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
}

.navigation-link {
    color: #9884fc;
    font-size: large;
}

.navigation-icon {
    font-size: xx-large;
    color: black;
}

a > small {
    font-size: inherit;
}

.desktop-text {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .navigation-link {
        font-size: medium;
    }

    blockquote > p {
        font-size: 0.85em;
    }
}

@media only screen and (min-width: 700px) and (min-height: 890px){
    .fixed-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .desktop-text {
        display: initial;
        font-size: inherit;
    }
}