@media screen and (min-width: 480px){
  /*******************************
  TWO COLUMN LAYOUT
  *******************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary{
    width: 100%;
    float: center;
    height: 100%;
  }
  
  #secondaryContact{
    width: 40%;
    float: right;
  }
  
  /*******************************
  PAGE: ABOUT
  *******************************/
  
  .profile-photo {
    float:left;
    margin: 0% 5% 10px 5%;
  }
}

@media screen and (min-width:660px){
  
  
  /*******************************
  PAGE: HEADER
  *******************************/
  
  nav {
    background: none;
    font-size: 1.125em;
    float: right;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }

  #indexNavigation {
    width: 100%;
    text-align: center;
    margin-right: 0%;
  }
  
  #logo {
    float: left;
    margin-left: 2%;
    text-align: left;
    width: 45%;
  }
  
  #indexHeader #logo{
    text-align: left;
    margin-left: 2%;
  }
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header{
    border-bottom: 1px solid #fff;
    margin-bottom: 60px;
  }
}
  